[package]
name = "kpdf"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.101"
gpui = "0.2.2"
gpui-component = "0.5.1"
gpui-component-assets = "0.5.1"
pdfium-render = { version = "0.8.37", features = ["sync"] }
image = "0.25.9"
sled = "0.34.7"
rust-embed = "8.11.0"

[package.metadata.bundle]
name = "kPDF"
identifier = "com.kuss.kpdf"
category = "Productivity"
icon = ["assets/app.png"]
resources=["lib"]

[package.metadata.packager]
product-name = "kPDF"
identifier = "com.kuss.kpdf"
before-packaging-command = "cargo build --release"
resources = ["lib"]
icons = ["assets/app.png"]